<%# nested form, form: parent form %>

<%= form.fields_for(passenger, class: "") do |passenger_form| %>
  <div class="min-h-full flex flex-col gap-2 mb-3">
    <%= passenger_form.label :first_name, "first name:" %>
    <%= passenger_form.text_field(
      :first_name,
      value: passenger.first_name,
      placeholder: Faker::Name.first_name
    ) %>
  </div>
  <div class="min-h-full flex flex-col gap-2 mb-3">
    <%= passenger_form.label :last_name, "last name:" %>
    <%= passenger_form.text_field(
      :last_name,
      value: passenger.last_name,
      placeholder: Faker::Name.last_name
    ) %>
  </div>
  <div class="min-h-full flex flex-col gap-2 mb-3">
    <%= passenger_form.label :identification_number, "personal identification number:" %>
    <%= passenger_form.text_field(
      :identification_number,
      value: passenger.identification_number,
      placeholder: Faker::IDNumber.valid
    ) %>
  </div>
  <div class="min-h-full flex flex-col gap-2 mb-3">
    <%= passenger_form.label :email, "e-mail:" %>
    <%= passenger_form.email_field(
      :email,
      value: passenger.email,
      placeholder: Faker::Internet.email
    ) %>
  </div>
<% end %>
